<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <h2>Crud Imagenes</h2>
  <form action="" >
    <input type="file" (change)="onImageSelected($event)">
    <button (click)="enviarImagen()">Enviar</button>
  </form>
   
  <div class="container-fluid">

  <img src="http://191.96.251.43/prueba/mario.jpg" class="img-thumbnail"  alt="...">
  </div>
  <div>
    <ul class="items-list">
      <li *ngFor="let imagen of imagenes">
        <img [src]="imagen.nombre" class="img-thumbnail" >
      </li>
    </ul>
  </div>
  
  
</body>
</html>